.userInfo {
  width: 30%;
  margin: auto;
}

.user_info {
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 24px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 24px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 24px -3px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-top: 20px;
  color: #fff;
}

.user_info > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.user_info_img > img {
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user_info > h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  line-height: 1.5;
}

.user_info_span {
  margin-right: 10px !important;
}
