.about {
  text-align: center;
  padding: 50px;
  background-color: #fff;
}

.about_main {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
}

.about_main > h2 {
  font-size: 3rem;
}

.about_main > p {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 10px;
}

.cf-img {
  height: 120px;
  width: 500px;
  transition: transform 0.2s ease-out;
  -webkit-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 30px;
}

.cf-img:hover {
  transform: scale(1.07);
}

/* media queries */

@media (max-width: 1200px) {
  .about_main > h2 {
    font-size: 2.8rem;
  }

  .about_main > p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .cf-img {
    height: 100px;
    width: 400px;
    padding: 20px;
  }
}

/* media queries mobile */

@media (max-width: 850px) {
  .about_main {
    padding: 40px;
  }

  .about_main > h2 {
    font-size: 1.7rem;
  }

  .about_main > p {
    font-size: 0.9rem;
    line-height: 1.3;
    width: 100%;
  }

  .cf-img {
    height: 60px;
    width: 220px;
    padding: 20px;
  }
}
