.home_showcase > img {
  height: 350px;
  width: 400px;
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.home_showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.home_showcase_about {
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 31px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  height: 350px;
  text-align: center;
}

.home_showcase_about > h1 {
  font-size: 3.3rem;
  margin-top: 100px;
}

.home_showcase_about > p {
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
}

.home_explore {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  background-color: #333333;
  padding: 50px;
}

.home_explore_cards {
  height: 300px;
  width: 350px;
  text-align: center;
  border-radius: 20px !important;
  background-color: #fff !important;
  -webkit-box-shadow: -1px 0px 50px -7px rgba(255, 255, 255, 0.75) !important;
  -moz-box-shadow: -1px 0px 31px -7px rgba(255, 255, 255, 0.75) !important;
  box-shadow: -1px 0px 50px -7px rgba(255, 255, 255, 0.75) !important;
  transition: transform 0.2s ease-out !important;
}

.home_explore_cards:hover {
  transform: scale(1.03);
}

.Card_form {
  margin-top: 30px;
}

.Card_form > h2 {
  margin-bottom: 30px;
}

.Card_form > form > input[type="text"] {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 80%;
  outline: 0;
  border: 0;
  font-size: 1.2rem;
}

.Card_form > form > input[type="text"]::placeholder {
  text-align: center;
  font-size: 1rem;
}

.Card_form > form > input[type="text"]:focus {
  border-bottom: 1px solid red;
}

.cards_btn {
  margin-top: 20px;
  background: linear-gradient(to bottom, #101210 5%, #6e6e58 100%);
  background-color: #101210;
  border-radius: 24px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 3px 50px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #030303;
  outline: none;
  transition: transform 0.2s ease-out;
}

.cards_btn:hover {
  transform: scale(1.1);
}

.home_footer {
  text-align: center;
  padding: 40px;
}

.home_footer > p {
  font-size: 1.5rem;
}
