.topProgs {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.topProgs_cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 30px;
}

.topProgs_card {
  border-radius: 10px !important;
}

.topProg_name {
  margin-top: 10px !important;
  font-weight: 700 !important;
}
