.single {
  text-align: center;
}

.single_graph {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.single_recentProbs {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 50px;
}

/* media queries */

@media (max-width: 1200px) {
  .single_graph {
    width: 70%;
    margin: auto;
  }
}

/* media queries mobile */

@media (max-width: 850px) {
  .single_graph {
  }
}
