.common_contests {
  overflow: scroll;
  height: 300px;
}

.common_contests > tr {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.common_contests > tr:nth-of-type(odd) {
  background-color: #f3f4f5;
}
