.table > h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.table_content {
  overflow: scroll;
  height: 300px;
  text-align: left;
  font-weight: 800;
}

.table_content > tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.table_content > tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
